body {
    margin: 0px;
    display: flex;
}

#main-container {
    width: 1024px;
    height: 4585.5px;
    margin: 0px auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #B0BED6;
}

#header {
    width: 1024px;
    height: 307px;
    background-color: #000B33;
    color: white;
    align-items: center;
    font-size: xx-large;
    position: absolute;
}

#header-content {
    position: relative;
    left: 395px;
    margin-top: 0%;
}

#nav_bar {
    width: 1024px;
    height: 105px;
    border: solid 1px white;
    background-color: #42485C;
    margin: 0px;
    top: 30%;
    position: absolute;
    
}

#about-me-content {
    width: 545px;
    height: 485px;
    border: solid 1px #000;
    position: absolute;
    left: 32%;
    margin-top: 50px;
    top: 50%;
}

#am-title {
    color: #000;
    margin-top: 700px;
    font-size: xx-large;
    position: relative;
    left: 400px;
}

#about-description {
    width: 595px;
    height: 310px;
    border: solid 1px #000;
    background-color: #C6BAA3;
    position: absolute;
    left: 30%;
    margin-top: 600px;
    top: 70%;
}

#services-title {
    color: #000;
    margin-top: 300px;
    font-size: xx-large;
    position: relative;
    left: 400px;
}

#services-content {
    left: 45px;
    position: relative;
}

#projects-title {
    color: #000;
    margin-top: 100px;
    font-size: xx-large;
    position: relative;
    left: 400px;
}

#projects-content {
    position: relative;
    left: 45px;
}

#writing-examples {
    width: 535px;
    height: 380px;
    border: solid 1px #000;
    background-color: white;
}

#graphic-examples{
    width: 330px;
    height: 330px;
    border: solid 1px #000;
}

#contact-title {
    color: #000;
    margin-top: 100px;
    font-size: xx-large;
}

#contact-info {
    width: 415px;
    height: 490px;
    border: solid 1px #000;
    background-color: white;
    position: absolute;
    right: 5px;
}