body {
    margin: 0px;
    display: flex;
}

#main-container {
    /* this contains all elements in the webpage */
    width: 1024px;
    height: 4585.5px;
    margin: 0px auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #B0BED6;
}

#header {
    width: 1024px;
    height: 305px;
    background-color: #000B33;
    position: absolute;
    color: white;
    align-items: center;
    font-size: 86.6032px;
    letter-spacing: 10px;
    word-spacing: 240px;
    text-align: center;
    padding-top: 50px;
    text-size-adjust: xx-large;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-style: normal;
}

#header-content {
    position: relative;
    left: 350px;
}

ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    
    list-style-type: none;
}

ul li {
    margin-right: 75px;
    align-items: center;
    position: relative;
    top: 10%;
}

#nav_bar {
    width: 1024px;
    height: 105px;
    border: solid 1px white;
    background-color: #42485C;
    margin: 0px;
    position: fixed;
    top: 35%;
}

/* #buttonexample {
    width: 200px;
    border: 1px solid black;
    margin-top: 20px;
    color: #000;
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: white;
    color: black;
}

#buttonexample:hover {
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: black;
    color: white;
} */
    

#about-me-content {
    width: 580px;
    height: 490px;
    position: absolute;
    left: 30%;
    margin-top: 50px;
    top: 60%;
    color: white;
}

#am-title {
    color: black;
    margin-top: 640px;
    font-size: xx-large;
    position: relative;
    left: 275px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}

#about-description {
    width: 595px;
    height: 310px;
    border: solid 1px #000;
    background-color: #C6BAA3;
    position: absolute;
    left: 30%;
    margin-top: 600px;
    top: 70%;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    padding: 10px;
}

#services-title {
    color: #000;
    margin-top: 250px;
    font-size: xx-large;
    position: relative;
    left: 340px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}

#services-content {
    left: 45px;
    position: relative;
}

#projects-title {
    color: #000;
    margin-top: 100px;
    font-size: xx-large;
    position: relative;
    left: 350px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}

#projects-content {
    position: relative;
    left: 100px;
    display: grid;
    grid-row: 50px;
}

#writing-examples {
    width: 535px;
    height: 380px;
    border: solid 1px #000;
    background-color: white;
}

#graphic-examples{
    width: 330px;
    height: 330px;
    border: solid 1px #000;
}

#contact-title {
    color: #000;
    margin-top: 50px;
    left: 75px;
    text-indent: 60px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
}

#contact-content {
    position: relative;
    left: 50px;
}

#contact-info {
    width: 415px;
    height: 490px;
    border: solid 1px #000;
    background-color: white;
    position: absolute;
    right: 300px;
    top: 3500px;
}

#links-panel {
    height: 70px;
    width: 1024px;
    background-color: #8E9BAD;
    top: 4000px;
    margin: 0px;
    position: absolute;
    left: 195px;
}

#links {
    /* these should link to each part of the webpage */
    top: 100px;
    position: relative;
    left: 50px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
}