body {
    margin: 0px;
    display: flex;
}

#main-container {
    /* this contains all elements in the webpage */
    width: 1024px;
    height: 4585.5px;
    margin: 0px auto;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background-color: #B0BED6;
}

#header {
    width: 1024px;
    height: 305px;
    background-color: #000B33;
    position: absolute;
    color: white;
    align-items: center;
    font-size: 86.6032px;
    letter-spacing: 10px;
    word-spacing: 240px;
    text-align: center;
    padding-top: 50px;
    text-size-adjust: xx-large;
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    font-style: normal;
}

#header-content {
    position: relative;
    left: 350px;
}

ul {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    top: 15px;
    list-style-type: none;
}



#nav_bar {
    width: 1024px;
    height: 105px;
    border: solid 1px white;
    background-color: #42485C;
    margin: 0px;
    position: absolute;
    top: 35%;
    
}

/* #button-example}: 200px;
    border: 1px solid black;
    margin-top: 20px;
    color: #000;
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: white;
    color: black;
}

#buttonexample:hover {
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: white;
    color: black;
} */ 
    

#about-me-content {
    width: 100%;
    height: 490px;
    position: relative;
    left: 20%;
    top: 2px;
    color: white;
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: none;
    color: black;
}


#am-title {
    color: black;
    width: 500px;
    font-size: xx-large;
    position: relative;
    left: 25%;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: none;
    color: black;
}

#am-title:hover {
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: white;
    color: black;
}


#about-description {
    width: 60%;
    height: 310px;
    border: solid 1px #000;
    background-color: #C6BAA3;
    position: relative;
    left: 20%;
    top: 2px;
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    color: white;
    padding: 10px;
}

#services-title {
    color: #000;
    width: 350px;
    font-size: xx-large;
    position: relative;
    left: 340px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: none;
    color: black;
}

#services-title:hover {
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: white;
    color: black;
}

#services-content {
    left: 45px;
    position: relative;
}

#projects-title {
    color: #000;
    font-size: xx-large;
    position: relative;
    left: 350px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}

#projects-content {
    position: relative;
    left: 100px;
    display: flex;
    flex-direction: column;
    left: 50%;
    width: 60%;
    height: 310px;
}

#column {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 50%;
    width: 60%;
    height: 310px;
}

#writing-example {
    width: 60%;
    height: 220px;
    border: solid 1px #000;
    background-color: #C6BAA3;
    padding: 10px;
    flex-direction: column;
    color: white;
    justify-content: space-evenly;
    align-items: column;
    position: relative;
    left: 20%;
}

#contact-title {
    color: #000;
    top: 10%;
    left: 75px;
    text-indent: 60px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    position: relative;
}

#contact-content {
    position: relative;
    left: 50px;
    top: 10%;
}

#contact-info {
    width: 415px;
    height: 200px;
    border: solid 1px #000;
    background-color: #C6BAA3;
    color: white;
    padding: 10px;
    position: absolute;
    right: 300px;
    top: 3700px;
}

#links-panel {
    height: 70px;
    width: 1024px;
    background-color: #8E9BAD;
    top: 10%;
    margin: 0px;
    position: relative;
    
}

#links {
    /* these should link to each part of the webpage */
    top: 100px;
    position: relative;
    left: 50px;
    font-family: "Charmonman", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    top: 10%;
}